@import 'tailwindcss';

@theme {
  /* 블루 */
  --color-main-skyblue: #5e97d7;
  --color-sub-skyblue: #b7d5ef;
  --color-accent-darkblue: #034896;

  /* 그레이 */
  --color-gray-800: #242424;
  --color-gray-600: #808080;
  --color-gray-500: #9ca3af;
  --color-gray-400: #a7a7a7;
  --color-gray-300: #b3b3b3;
  --color-gray-200: #d6d3d3;

  /* 화이트 */
  --color-white: #ffffff;
  --color-white-800: #ffffff;
  --color-white-600: #f7f7f7;
  --color-white-400: #f3f3f3;

  /* 에러 */
  --color-error: #ff0000;
}

@theme {
  /* 블루 */
  --color-main-skyblue: #5E97D7;
  --color-sub-skyblue: #B7D5EF;

  /* 그레이 */
  --color-gray-800: #242424;
  --color-gray-600: #808080;
  --color-gray-500: #9CA3AF;
  --color-gray-400: #A7A7A7;
  --color-gray-300: #B3B3B3;
  --color-gray-200: #D6D3D3;

  /* 화이트 */
  --color-white: #FFFFFF;
  --color-white-800: #FFFFFF;
  --color-white-600: #F7F7F7;
  --color-white-400: #F3F3F3;

  /* 에러 */
  --color-error: #FF0000;
}

body {
  font-family: Pretendard, system-ui, sans-serif;
}

@layer components {
  /* ExtraBold */
  .ExtraBold_24 {
    font-size: 24px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 1%;
  }

  /* Bold */
  .Bold_28 {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Bold_24 {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Bold_20 {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Bold_18 {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Bold_16 {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Bold_14 {
    font-size: 14px;
    font-weight: 700;
    line-height: 145%;
    letter-spacing: 1%;
  }

  /* SemiBold */
  .SemiBold_20 {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .SemiBold_18 {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .SemiBold_16 {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .SemiBold_15 {
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .SemiBold_14 {
    font-size: 14px;
    font-weight: 600;
    line-height: 145%;
    letter-spacing: 1%;
  }

  /* Medium */
  .Medium_20 {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Medium_18 {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Medium_16 {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Medium_15 {
    font-size: 15px;
    font-weight: 500;
    line-height: 145%;
    letter-spacing: 1%;
  }
  .Medium_12 {
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 1%;
  }

  /* Regular */
  .Regular_18 {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Regular_15 {
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
  }
  .Regular_14 {
    font-size: 14px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 1%;
  }
  .Regular_12 {
    font-size: 12px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 1%;
  }
  .Regular_10 {
    font-size: 10px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 1%;
  }
}
