@import "tailwindcss";

@theme {
  /* 블루 */
  --color-main-skyblue: #5E97D7;
  --color-sub-skyblue: #B7D5EF;

  /* 그레이 */
  --color-gray-800: #242424;
  --color-gray-600: #808080;
  --color-gray-500: #9CA3AF;
  --color-gray-400: #A7A7A7;
  --color-gray-300: #B3B3B3;
  --color-gray-200: #D6D3D3;

  /* 화이트 */
  --color-white: #FFFFFF;
  --color-white-800: #FFFFFF;
  --color-white-600: #F7F7F7;
  --color-white-400: #F3F3F3;

  /* 에러 */
  --color-error: #FF0000;
}

body {
  font-family: Pretendard, system-ui, sans-serif;
}